<div class="media">
    <div class="media-img text-center py-5">
        <h1 class="fs-2 fw-bold">{{'solution.title3' | translate}}</h1>
    </div>
   <div class="container d-none d-lg-block">
    <div class=" row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <img src="assets/img/page/media/aninews.png" alt="" height="15">
                    <h6 class="card-title mb-2 fs-6">05 Oct 2019</h6>
                  </div>
                  <p class="card-text">“Oracle on-boards first cohort of startups in Mumbai</p>
                  <a href="#" class="card-link mb-0">Learn More ></a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <img src="assets/img/page/media/livemint.png" alt="" height="15">
                    <h6 class="card-title mb-2 fs-6">11 Jan 2018</h6>
                  </div>
                  <p class="card-text">“Moneytor raises funds from 500 Startups, others</p>
                  <a href="#" class="card-link">Learn More ></a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <img src="assets/img/page/media/zeebusiness.png" alt="" height="15">
                    <h6 class="card-title mb-2 fs-6">11 Jan 2018</h6>
                  </div>
                  <p class="card-text">“Moneytor: This startup strengthens lender-borrower relations</p>
                  <a href="#" class="card-link">Learn More ></a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <img src="assets/img/page/media/businesswire.png" alt="" height="15">
                    <h6 class="card-title mb-2 fs-6">11 Jan 2018</h6>
                  </div>
                  <p class="card-text">“Moneytor raises funds from 500 Startups, others</p>
                  <a href="#" class="card-link">Learn More ></a>
                </div>
              </div>
        </div>
    </div>
    <div class=" row my-5">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <img src="assets/img/page/media/aninews.png" alt="" height="15">
                    <h6 class="card-title mb-2 fs-6">05 Oct 2019</h6>
                  </div>
                  <p class="card-text">“Oracle on-boards first cohort of startups in Mumbai</p>
                  <a href="#" class="card-link mb-0">Learn More ></a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <img src="assets/img/page/media/livemint.png" alt="" height="15">
                    <h6 class="card-title mb-2 fs-6">11 Jan 2018</h6>
                  </div>
                  <p class="card-text">“Moneytor raises funds from 500 Startups, others</p>
                  <a href="#" class="card-link">Learn More ></a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <img src="assets/img/page/media/zeebusiness.png" alt="" height="15">
                    <h6 class="card-title mb-2 fs-6">11 Jan 2018</h6>
                  </div>
                  <p class="card-text">“Moneytor: This startup strengthens lender-borrower relations</p>
                  <a href="#" class="card-link">Learn More ></a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <img src="assets/img/page/media/businesswire.png" alt="" height="15">
                    <h6 class="card-title mb-2 fs-6">11 Jan 2018</h6>
                  </div>
                  <p class="card-text">“Moneytor raises funds from 500 Startups, others</p>
                  <a href="#" class="card-link">Learn More ></a>
                </div>
              </div>
        </div>
    </div>
    <div class=" row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <img src="assets/img/page/media/aninews.png" alt="" height="15">
                    <h6 class="card-title mb-2 fs-6">05 Oct 2019</h6>
                  </div>
                  <p class="card-text">“Oracle on-boards first cohort of startups in Mumbai</p>
                  <a href="#" class="card-link mb-0">Learn More ></a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <img src="assets/img/page/media/livemint.png" alt="" height="15">
                    <h6 class="card-title mb-2 fs-6">11 Jan 2018</h6>
                  </div>
                  <p class="card-text">“Moneytor raises funds from 500 Startups, others</p>
                  <a href="#" class="card-link">Learn More ></a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <img src="assets/img/page/media/zeebusiness.png" alt="" height="15">
                    <h6 class="card-title mb-2 fs-6">11 Jan 2018</h6>
                  </div>
                  <p class="card-text">“Moneytor: This startup strengthens lender-borrower relations</p>
                  <a href="#" class="card-link">Learn More ></a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <img src="assets/img/page/media/businesswire.png" alt="" height="15">
                    <h6 class="card-title mb-2 fs-6">11 Jan 2018</h6>
                  </div>
                  <p class="card-text">“Moneytor raises funds from 500 Startups, others</p>
                  <a href="#" class="card-link">Learn More ></a>
                </div>
              </div>
        </div>
    </div>
   </div>
   <div class="swiper tet-center ">
    <swiper-container class="d-lg-none mySwiper my-5 container" loop="true"  pagination="true" pagination-clickable="true"
    slides-per-view="1" space-between="15" autoplay-delay="2500" >
        <swiper-slide>
          <div class="card" >
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <img src="assets/img/page/media/aninews.png" alt="" height="15">
                <h6 class="card-title mb-2 fs-6">05 Oct 2019</h6>
              </div>
              <p class="card-text">“Oracle on-boards first cohort of startups in Mumbai</p>
              <a href="#" class="card-link mb-0">Learn More ></a>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="card" >
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <img src="assets/img/page/media/livemint.png" alt="" height="15">
                <h6 class="card-title mb-2 fs-6">11 Jan 2018</h6>
              </div>
              <p class="card-text">“Moneytor raises funds from 500 Startups, others</p>
              <a href="#" class="card-link">Learn More ></a>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="card" >
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <img src="assets/img/page/media/zeebusiness.png" alt="" height="15">
                <h6 class="card-title mb-2 fs-6">11 Jan 2018</h6>
              </div>
              <p class="card-text">“Moneytor: This startup strengthens lender-borrower relations</p>
              <a href="#" class="card-link">Learn More ></a>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="card" >
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <img src="assets/img/page/media/businesswire.png" alt="" height="15">
                <h6 class="card-title mb-2 fs-6">11 Jan 2018</h6>
              </div>
              <p class="card-text">“Moneytor raises funds from 500 Startups, others</p>
              <a href="#" class="card-link">Learn More ></a>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="card" >
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <img src="assets/img/page/media/aninews.png" alt="" height="15">
                <h6 class="card-title mb-2 fs-6">05 Oct 2019</h6>
              </div>
              <p class="card-text">“Oracle on-boards first cohort of startups in Mumbai</p>
              <a href="#" class="card-link mb-0">Learn More ></a>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="card" >
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <img src="assets/img/page/media/livemint.png" alt="" height="15">
                <h6 class="card-title mb-2 fs-6">11 Jan 2018</h6>
              </div>
              <p class="card-text">“Moneytor raises funds from 500 Startups, others</p>
              <a href="#" class="card-link">Learn More ></a>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="card" >
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <img src="assets/img/page/media/zeebusiness.png" alt="" height="15">
                <h6 class="card-title mb-2 fs-6">11 Jan 2018</h6>
              </div>
              <p class="card-text">“Moneytor: This startup strengthens lender-borrower relations</p>
              <a href="#" class="card-link">Learn More ></a>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="card" >
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <img src="assets/img/page/media/businesswire.png" alt="" height="15">
                <h6 class="card-title mb-2 fs-6">11 Jan 2018</h6>
              </div>
              <p class="card-text">“Moneytor raises funds from 500 Startups, others</p>
              <a href="#" class="card-link">Learn More ></a>
            </div>
          </div>
        </swiper-slide>
    </swiper-container>
</div>

</div>
