.media{
    background-color: #f7f5f9;
    padding: 40px 0;
}
.media-img{
    background-image: url(https://moneytor.in/quote.67ac5bfba123ed22544c.svg);
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 50px;
    padding-top: 30px;  
}
.card{
    // box-shadow:  13px 20px 0 #f0f2f4;
    height: 150px
}