<div class="container overflow-hidden my-5">
    <div class="solution text-center">
        <h1>{{'solution.title1' | translate}}</h1>
        <h2 class="my-5">{{'solution.title2' | translate}}</h2>
        <div class="row my-5 ">
            <div class="col-md-3 col-4">
                <img src="assets/img/Powtoon_GIF_11.gif" alt="">
                <p>Content Management with Rich Analytics</p>
            </div>
            <div class="col-md-3 col-4">
                <img src="assets/img/Powtoon_GIF_17.gif" alt="">
                <p>Multi-level Decisioning</p>
            </div>
            <div class="col-md-3 col-4">
                <img src="assets/img/Powtoon_GIF_13.gif" alt="">
                <p>Multichannel communication</p>
            </div>
            <div class="col-md-3 col-4">
                <img src="assets/img/Powtoon_GIF_15.gif" alt="">
                <p>Collection Agent - Defaulter Interaction Dashboard</p>
            </div>
        <!-- </div>
        <div class="row my-5 second"> -->
            <div class="col-md-2 col-4">
                <img src="assets/img/Powtoon_GIF_16.gif" alt="">
                <p>Multi-lingual</p>
            </div>
            <div class="col-md-3 col-4">
                <img src="assets/img/Powtoon_GIF_18.gif" alt="">
                <p>Automated intelligent response</p>
            </div>
            <div class="col-md-2 col-4">
                <img src="assets/img/Powtoon_GIF_19.gif" alt="">
                <p>Automated Loan Restructuring Tool</p>
            </div>
            <div class="col-md-3 col-4">
                <img src="assets/img/Powtoon_GIF_20.gif" alt="">
                <p>Self Correcting</p>
            </div>
            <div class="col-md-2 col-4">
                <img src="assets/img/Powtoon_GIF_21.gif" alt="">
                <p>Repayment Projections & Portfolio Valuation</p>
            </div>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md-6 mb-4">
            <div class="card ">
                <div class="card-body ">
                  <h2 class="card-title">Collections</h2>
                  <p class="card-text py-2">Moneytor's digital first collection offering enables lenders to communicate with their borrowers through multiple modes and in multiple languages.</p>
                  <button mat-button class="mt-btn large white pt-2" type="button"> Get Started</button>
                </div>
              </div>
        </div>
        <div class="col-md-6 card-style">
            <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Debt Purchase</h2>
                  <p class="card-text py-2">With our data driven collections portfolio analysis, we offer portfolio liquidation services enabling lenders to release up tied capital and optimize cashflows.</p>
                  <button mat-button class="mt-btn large white pt-2" type="button"> Know More</button>
                </div>
              </div>
        </div>
    </div>
</div>