<div class="footer overflow-hidden">
    <div class="container">
        <div class="row  text-light pt-5 ">
            <div class="col-md-3 ps-lg-5 my-4">
                <img src="assets/img/logo/logo_light_new.png" alt="">
            </div>
            <div class="col-md-3 col-sm-6 col-6 ps-lg-4">
                <h2 class="ms-4">{{'footer.title1' | translate}}</h2>
                <ul>
                    <li>Privacy Policy</li>
                    <li>About Us</li>
                    <li>Solutions</li>
                    <li>Clients</li>
                    <li>Media</li>
                    <li>Blog</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-6">
                <h2 class="ms-4">{{'footer.title2' | translate}}</h2>
                <ul>
                    <li>Privacy Policy</li>
                    <li>About Us</li>
                    <li>Solutions</li>
                    <li>Clients</li>
                    <li>Media</li>
                    <li>Blog</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2 class="ms-4">{{'footer.title3' | translate}}</h2>
                <ul>
                    <li>Mumbai</li>
                    <li>Pune</li>
                    <li>Assam</li>
                    <li>Visakhapatnam</li>
                    <li>Pondicherry</li>
                    <li>Mangalore</li>
                    <li>Noida</li>
                    <li>Gurgaon</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <h3 class="text-white">© Copyright 2024 Moneytor Inc. All rights reserved.</h3>
            <span class="d-flex icon">
                <img src="assets/icons/facebook_new.png" alt="">
                <img src="assets/icons/twitter_new.png" alt="">
                <img src="assets/icons/linkdin_new.png" alt="">
                <img src="assets/img/icon/telegram_new.png" alt="">
                <img src="assets/icons/insta_new.png" alt="">

            </span>
        </div>
    </div>
</div>
