<div class="client">
    <h1 class="text-center fs-4 fw-bold mt-5">{{'clients.title' | translate}}</h1>
    <div class="container my-5 d-none d-lg-block">
        <div class="row">
            <div class="col-md-2">
                <div class="card border-0 text-center">
                    <div class="card-body">
                        <img src="assets/img/page/our-journey/loans.png" alt="" width="124" height="113">
                        <h2>614,760</h2>
                        <h4>Loans</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-0 text-center">
                    <div class="card-body">
                        <img src="assets/img/page/our-journey/customers.png" alt="" width="124" height="113">
                        <h2>369,378</h2>
                        <h4>Customers</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card border-0 text-center">
                    <div class="card-body">
                        <img src="assets/img/page/our-journey/communications.png" alt="" width="124" height="113">
                        <h2>7,521,551</h2>
                        <h4>Communications</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-0 text-center">
                    <div class="card-body">
                        <img src="assets/img/page/our-journey/payments.png" alt="" width="124" height="113">
                        <h2>3,740,962</h2>
                        <h4>Payments Made</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card border-0 text-center">
                    <div class="card-body">
                        <img src="assets/img/page/our-journey/plans.png" alt="" width="124" height="113">
                        <h2>10,976</h2>
                        <h4>Payments Plans</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper tet-center p-5">
        <swiper-container class="d-none d-lg-block mySwiper my-5" loop="true"  pagination="true" pagination-clickable="true"
        slides-per-view="5" space-between="15" autoplay-delay="2500" >
            <swiper-slide>
                <img src="assets/img/page/clients/neogrowth.png" alt="" height="100">
            </swiper-slide>
            <swiper-slide>
                <img src="assets/img/page/clients/zest-money.png" alt=""  height="100">
            </swiper-slide>
            <swiper-slide>
                <img src="assets/img/page/clients/muthoot-fincorp.png" alt="" height="100">
            </swiper-slide>
            <swiper-slide>
                <img src="https://s3.ap-south-1.amazonaws.com/moneytor.in/resources/img/public/clients/Mintifi+-+New+Logo.jpeg" alt="" height="100">
            </swiper-slide>
            <swiper-slide>
                <img src="assets/img/page/clients/credit-wise.png" alt="" height="100">
            </swiper-slide>
            <swiper-slide>
                <img src="assets/img/page/clients/bettr.png" alt="" height="100">
            </swiper-slide>
            <swiper-slide>
                <img src="assets/img/page/clients/rupeelend.png" alt="" height="100">
            </swiper-slide>
            <swiper-slide>
                <img src="assets/img/page/clients/early-salary.png" alt="" height="100">
            </swiper-slide>
        </swiper-container>
        <swiper-container class="d-lg-none" loop="true"  pagination="true" pagination-clickable="true"
        slides-per-view="1" space-between="15" autoplay-delay="2500" >
            <swiper-slide>
                <img src="assets/img/page/clients/neogrowth.png" alt="">
            </swiper-slide>
            <swiper-slide>
                <img src="assets/img/page/clients/zest-money.png" alt="">
            </swiper-slide>
            <swiper-slide>
                <img src="assets/img/page/clients/muthoot-fincorp.png" alt="">
            </swiper-slide>
            <swiper-slide>
                <img src="https://s3.ap-south-1.amazonaws.com/moneytor.in/resources/img/public/clients/Mintifi+-+New+Logo.jpeg" alt="">
            </swiper-slide>
            <swiper-slide>
                <img src="assets/img/page/clients/credit-wise.png" alt="">
            </swiper-slide>
            <swiper-slide>
                <img src="assets/img/page/clients/bettr.png" alt="" style="width: 200px; height: 110px;">
            </swiper-slide>
            <swiper-slide>
                <img src="assets/img/page/clients/rupeelend.png" alt="">
            </swiper-slide>
            <swiper-slide>
                <img src="assets/img/page/clients/early-salary.png" alt="">
            </swiper-slide>
        </swiper-container>
    </div>
</div>
