<div class="about my-5">
    <div class="container text-center about-text">
        <h1>{{'about.title' | translate}}</h1>
        <p>Moneytor is a smart and self-learning platform designed for managing stressed consumer loans.It digitizes
            processes

            related to loan book management, communication, and settlement decision</p>
        <p>making with borrowers, leading to a reduction in recovery costs coupled with improvement in recovery rates,
            all the

            while fostering happy borrower experiences.</p>
    </div>
    <div>
        <!-- Slider main container -->
<div class="swiper tet-center p-5">
    <h1 class="py-4 text-center">{{'about.title2' | translate}}</h1>
    <swiper-container class="d-none d-lg-block mySwiper my-5" loop="true"  pagination="true" pagination-clickable="true"
    slides-per-view="5" space-between="15" autoplay-delay="2500" >
        <swiper-slide>
            <img src="assets/img/page/investors/500.png" alt="">
        </swiper-slide>
        <swiper-slide>
            <img src="assets/img/page/investors/10000-startups.png" alt="">
        </swiper-slide>
        <swiper-slide>
            <img src="assets/img/page/investors/angel-list.png" alt="">
        </swiper-slide>
        <swiper-slide>
            <img src="assets/img/page/investors/fintech-valley-vizag.png" alt="">
        </swiper-slide>
        <swiper-slide>
            <img src="assets/img/page/investors/oracle.png" alt="">
        </swiper-slide>
        <swiper-slide>
            <img src="assets/img/page/investors/stanford.png" alt="" style="width: 200px; height: 110px;">
        </swiper-slide>
        <swiper-slide>
            <img src="assets/img/page/investors/zone-startups.png" alt="">
        </swiper-slide>
    </swiper-container>
    <swiper-container class="d-lg-none" loop="true"  pagination="true" pagination-clickable="true"
    slides-per-view="1" space-between="15" autoplay-delay="2500" >
        <swiper-slide>
            <img src="assets/img/page/investors/500.png" alt="">
        </swiper-slide>
        <swiper-slide>
            <img src="assets/img/page/investors/10000-startups.png" alt="">
        </swiper-slide>
        <swiper-slide>
            <img src="assets/img/page/investors/angel-list.png" alt="">
        </swiper-slide>
        <swiper-slide>
            <img src="assets/img/page/investors/fintech-valley-vizag.png" alt="">
        </swiper-slide>
        <swiper-slide>
            <img src="assets/img/page/investors/oracle.png" alt="">
        </swiper-slide>
        <swiper-slide>
            <img src="assets/img/page/investors/stanford.png" alt="" style="width: 200px; height: 110px;">
        </swiper-slide>
        <swiper-slide>
            <img src="assets/img/page/investors/zone-startups.png" alt="">
        </swiper-slide>
    </swiper-container>
</div>