<div class="blog my-5 text-center">
    <div class="container ">
        <h1 class="fs-2 fw-bold">{{'blog.title' | translate}}</h1>
        
    <div class="swiper text-center">
        <swiper-container class="d-none d-lg-block mySwiper my-5" loop="true"  pagination="true" pagination-clickable="true"
        slides-per-view="4" space-between="15" autoplay-delay="2500" >
            <swiper-slide>
                <div class="card" style="width: 18rem;">
                    <img src="https://moneytor-uploads.s3.ap-south-1.amazonaws.com/The+importance+of+emergency_3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">The Importance of Emergency Funds: How Much to Save and When to Utilize Them.</p>
                      <p class="mt-5">by Moneytor | 14 Sep 2023</p>
                    </div>
                  </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card" style="width: 18rem;">
                    <img src="https://moneytor-uploads.s3.ap-south-1.amazonaws.com/The+importance+of+emergency_2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">The Importance of Emergency Funds: How Much to Save and When to Utilize Them.</p>
                      <p class="mt-5">by Moneytor | 14 Sep 2023</p>
                    </div>
                  </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card" style="width: 18rem;">
                    <img src="https://moneytor-uploads.s3.ap-south-1.amazonaws.com/The+importance+of+emergency.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">The Importance of Emergency Funds: How Much to Save and When to Utilize Them.</p>
                      <p class="mt-5">by Moneytor | 14 Sep 2023</p>
                    </div>
                  </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card" style="width: 18rem;">
                    <img src="https://miro.medium.com/v2/resize:fit:720/1*kqFODH-eY2ZNJZh4nWhoVw.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">The Importance of Emergency Funds: How Much to Save and When to Utilize Them.</p>
                      <p class="mt-5">by Moneytor | 14 Sep 2023</p>
                    </div>
                  </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card" style="width: 18rem;">
                    <img src="https://miro.medium.com/v2/resize:fill:1400:420/1*MfFqit47vtRcJZpAN6ywQQ.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">The Importance of Emergency Funds: How Much to Save and When to Utilize Them.</p>
                      <p class="mt-5">by Moneytor | 14 Sep 2023</p>
                    </div>
                  </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card" style="width: 18rem;">
                    <img src="https://miro.medium.com/v2/resize:fill:1400:420/1*DYq_AvFE-Fi2irErK15tTw.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">The Importance of Emergency Funds: How Much to Save and When to Utilize Them.</p>
                      <p class="mt-5">by Moneytor | 14 Sep 2023</p>
                    </div>
                  </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card" style="width: 18rem;">
                    <img src="https://miro.medium.com/v2/resize:fill:1400:420/1*MfFqit47vtRcJZpAN6ywQQ.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">The Importance of Emergency Funds: How Much to Save and When to Utilize Them.</p>
                      <p class="mt-5">by Moneytor | 14 Sep 2023</p>
                    </div>
                  </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card" style="width: 18rem;">
                    <img src="https://miro.medium.com/v2/resize:fill:1066:320/1*sk0ExDSyo-En7hc6FuGIdA.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">The Importance of Emergency Funds: How Much to Save and When to Utilize Them.</p>
                      <p class="mt-5">by Moneytor | 14 Sep 2023</p>
                    </div>
                  </div>
            </swiper-slide>
        </swiper-container>
        <swiper-container class="d-lg-none " loop="true"  pagination="true" pagination-clickable="true"
        slides-per-view="1" space-between="15" autoplay-delay="2500" >
            <swiper-slide>
                <div class="card">
                    <img src="https://moneytor-uploads.s3.ap-south-1.amazonaws.com/The+importance+of+emergency_3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">The Importance of Emergency Funds: How Much to Save and When to Utilize Them.</p>
                      <p class="mt-5">by Moneytor | 14 Sep 2023</p>
                    </div>
                  </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card">
                    <img src="https://moneytor-uploads.s3.ap-south-1.amazonaws.com/The+importance+of+emergency_2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">The Importance of Emergency Funds: How Much to Save and When to Utilize Them.</p>
                      <p class="mt-5">by Moneytor | 14 Sep 2023</p>
                    </div>
                  </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card">
                    <img src="https://moneytor-uploads.s3.ap-south-1.amazonaws.com/The+importance+of+emergency.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">The Importance of Emergency Funds: How Much to Save and When to Utilize Them.</p>
                      <p class="mt-5">by Moneytor | 14 Sep 2023</p>
                    </div>
                  </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card">
                    <img src="https://miro.medium.com/v2/resize:fit:720/1*kqFODH-eY2ZNJZh4nWhoVw.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">The Importance of Emergency Funds: How Much to Save and When to Utilize Them.</p>
                      <p class="mt-5">by Moneytor | 14 Sep 2023</p>
                    </div>
                  </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card">
                    <img src="https://miro.medium.com/v2/resize:fill:1400:420/1*MfFqit47vtRcJZpAN6ywQQ.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">The Importance of Emergency Funds: How Much to Save and When to Utilize Them.</p>
                      <p class="mt-5">by Moneytor | 14 Sep 2023</p>
                    </div>
                  </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card">
                    <img src="https://miro.medium.com/v2/resize:fill:1400:420/1*DYq_AvFE-Fi2irErK15tTw.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">The Importance of Emergency Funds: How Much to Save and When to Utilize Them.</p>
                      <p class="mt-5">by Moneytor | 14 Sep 2023</p>
                    </div>
                  </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card">
                    <img src="https://miro.medium.com/v2/resize:fill:1400:420/1*MfFqit47vtRcJZpAN6ywQQ.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">The Importance of Emergency Funds: How Much to Save and When to Utilize Them.</p>
                      <p class="mt-5">by Moneytor | 14 Sep 2023</p>
                    </div>
                  </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card">
                    <img src="https://miro.medium.com/v2/resize:fill:1066:320/1*sk0ExDSyo-En7hc6FuGIdA.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">The Importance of Emergency Funds: How Much to Save and When to Utilize Them.</p>
                      <p class="mt-5">by Moneytor | 14 Sep 2023</p>
                    </div>
                  </div>
            </swiper-slide>
        </swiper-container>
    </div>
    </div>
</div>
