<div class="section">
    <section id="home">
        <app-hero></app-hero>
    </section>
    <section id="about">
        <app-about></app-about>
    </section>
    <section id="solution">
        <app-solution></app-solution>
    </section>
    <section>
        <app-media></app-media>
    </section>
    <section id="client">
        <app-clients></app-clients>
    </section>
    <section id="contactus">
        <app-reach-out></app-reach-out>
    </section>
    <section id="blog">
        <app-blog></app-blog>
    </section>
</div>